# Lesson 1 : 23/09/2024

In [ ]:
print(10)
print("Hello world")
print("London","Paris")

10
hello world
London Paris

In [ ]:
print(10*2)

20

In [ ]:
input("Enter your name : ")
#ask name for future code

Enter your name : Charlotte

'Charlotte'

In [ ]:
print(10.10)

10.1

In [ ]:
#x is called variable
x=10.20
name = "Charlotte"

print(x)
print(name)

age = 17
last_name = "Jazeron"
print("My last name is",last_name,"and my age is",age)

10.2
Charlotte
My last name is Jazeron and my age is 17

In [ ]:
#Ask the user what is their city
#Print the user city
#*use a variable

city = input("Where are you from? ")
name = input("What is your first name? ")
print(name,city)

Where are you from? La rochelle
What is your first name ? Charlotte
Charlotte La rochelle

In [ ]:
x =float(input(" Enter a number "))
y =int(input("Enter a second number "))
print("Result is :",x+y)

 Enter a number 23.9
Enter a second number 5
Result is : 28.9

In [ ]:
x =int(input("Enter a number : "))
y = int(input("Enter a second number : "))
z = int(input("Enter a third number :"))
print("The product is:",x*y*z)

Enter a number : 1
Enter a second number : 2
Enter a third number :3
The product is: 6

In [ ]:
a=float(input("Give me a number: "))
b=float(input("Give me a second number: "))
if b == 0:
  print("I cannot divide")
else:
  print("The result is:", a/b)

Give me a number: 3
Give me a second number: 5
The result is: 0.6

In [ ]:
city=input("Enter a city ")
if city=="Paris":
  print("Bonjour")
  print(10)
else:
  print("Hi")
  print(100)

Enter a city Paris
Bonjour
10

In [ ]:
a=float(input("Give me a number: "))
b=float(input("Give me a second number: "))
while b == 0:
  b=float(input("Give me a new number"))
print("The result is:", a/b)

Give me a number: 3
Give me a second number: 4
The result is: 0.75

In [ ]:
def test(a,b):
  if a >= 5 :
    print("Hi")
  else:
    print("Bonjour")
  if b <= 10:
    return "Hola"
  else:
    return "Hallo"

a = int(input("Give me a number "))
b = int(input("Give me a second number "))
print(test(a,b))

Give me a number 8
Give me a second number 4
Hi
Hola

In [ ]:
def problem(a,b):
  c = 0
  d=0
  while a >= 4:
    a -= 1
    c +=1
  while b <= 8:
    b += 1
    d += 1
  return c,d

print(problem(8,4))

(5, 5)

Exercise 1
Create a program to ask the user their name and their age
If the user is over 18, then print you're an adult. If the the user is less, print you're a kid

In [ ]:
name =input("What is your name? ")
age = int(input("What is your age? "))
if age >= 18:
  print("You're an adult")
else:
  print("You're a kid")

What is your name? Charlotte
What is your age? 12
You're a kid

Create a program, ask the user to enter two numbers.
Print the maximum number.

In [ ]:

a=float(input("Give me a number: "))
b=float(input("Give me a second number: "))
if a < b:
  print("The maximum is ",b)
elif a>b:
  print("The maximum is",a)
else:
  print("Both the numbers are equal")
#Different response
print("The maximum is",max(a,b))

Give me a number: 3
Give me a second number: 2
The maximum is 3.0
The maximum is 3.0

In [ ]:
x=10
y=20
if x>y:
  print("x is greater than y")
elif x<y:
  print("x is less than y")
else:
  print("x is equal to y")

x is less than y

Create a program to ask the user to enter a score.
If the score is less than 50 you failed.
If the score is between and 70 is pass.
If the score is greater than 70, is distinction

In [ ]:
score =int(input("Give me your score: ")) #Can use float

if score >0 and score<50:
  print("You fail" )
elif score>=50 and score<70:
  print("You pass")
elif score >=70 and score<=100:
  print("You pass with distinction")
else:
  print("Something is wrong")

Give me your score: -23
You fail
Something is wrong

# Lesson 2 : 30/09/2024

In [ ]:
name = input("What is your name ? ")
print("Your name is" ,name)

What is your name ? Charlotte
Your name is Charlotte

In [ ]:
num = float(input("Enter a number "))
print(num*5)

Enter a number 4.688
23.439999999999998

In [ ]:
num = float(input("Enter a number: "))
if num>0:
  print("Positive")
else:
  print("Negative")

Enter a number: 87
Positive

In [ ]:
num1 = float(input("Give me a number: "))
operation = input("Enter an operation (+,-,*,/,**): ")
num2 = float(input("Give me a second number: "))

if operation=="+":#Addition
  print(num1+num2)
elif operation=="-": #Substraction
  print(num1-num2)
elif operation=="*": #Multiplication
  print(num1*num2)
elif operation=="/" and num2 != 0: #Division
    print(num1/num2)
elif operation=="**": #Exposant
  print(num1**num2)
else:
  print("I do not support this operation")

Give me a number: 0
Enter an operation (+,-,*,/,**): **
Give me a second number: 0
1.0

Ask the user to enter a number.
If the number is between 0 and 1, print the percentage of the number.
In any other case print, please enter a number between 0 and 1

In [ ]:
num = float(input("Enter a number: ")) #To print percentage
if num>=0 and num<=1:
  print("Percentage is",num*100,"%")
else:
  print("Please enter a number between 0 and 1")

Enter a number: 0.345
Percentage is 34.5 %

In [ ]:
num = float(input("Enter a number: "))
condition = False
while condition == False:
  if num >=0 and num<=1:
    condition = True
  else:
    num = float(input("Please enter another number between 0 and 1 "))
print(num*100, "%")

Enter a number: 4
Please enter another number between 0 and 1 8
Please enter another number between 0 and 1 4
Please enter another number between 0 and 1 0.5
50.0 %

In [ ]:
name = "Tomas"
print(name[3])

a

In [ ]:
text = "My name is Stelios and I live in London"
print(text[-1])
print(text[-6])
print(text[3:7])
print(text[-6:])

n
L
name
London

Ask the user to enter a city.
If the user enters a city starting with L capital, print "Starts with L capital"
Else print someting else

In [ ]:
city = input("Enter a city: ")
if city[0] == "L":
  print("Starts with L capital")
else:
  print("Does not start with L capital")

Enter a city: La Rochelle
Starts with L capital

Ask the user to enter a phrase. If the phrase doesn't finish with dot(.), say you need a dot! else say all good!

In [ ]:
phrase = input("Write a sentence: ")
if phrase[-1] != ".":
  print("You need a dot!")
else:
  print("All good!")

Write a sentence: Computer Sciences is awesome.
All good

# Lesson 3 : 07/10/2024

In [1]:
num = int(input("Enter a number "))
if num>0:
  print("Positive")
else:
  print("Negative or zero")

Enter a number3
Positive

In [2]:
num = int(input("Enter a number "))
if num>0:
  positive = True
else:
  positive = False
print("Is positive? ",positive)

Enter a number 43
Is positive?  True

* If age < 18 you cannot watch film
* If age >= 18 you can watch it
* If you are over 60 you are senior and you have a discount

In [6]:
age = int(input("Enter age: "))
if age<18:
  watch = False
else:
  watch = True
if age >=60:
  senior = True
else:
  senior = False
print(age, watch, senior)

Enter age: 36
36 True False

* if your score is less than 10, you fail
* if 10-20 you pass
* if >15 distinction
If you get a distinction you get an award!

In [10]:
score= int(input("Enter your score "))
if score <10:
  fail = True
else:
  fail = False
if score >15:
  distinction = True
else:
  distinction = False
print("With your score of",score,",fail is",fail,"and distinction is",distinction)

Enter your score 14
With your score of 14 ,fail is False and distinction is False

* If temp < 20 you turn on the heat
* If the heat is on, you close the windows
* If the windows are closed, turn on the ventilation

In [11]:
temp = int(input("Enter the temperature: "))
if temp < 20:
  heat = True
else:
  heat = False
if heat ==True:
  windows = False
else:
  windows = True
if windows == False:
  ventilation = True
else:
  ventilation = False
print("With a temperature of",temp,"the heat is", heat,",the windows are",windows,"and the ventilation is",ventilation)

Enter the temperature: 18
With a temperature of 18 the heat is True ,the windows are False and the ventilation is True

In [21]:
students = ['Mary','Tom','Stelios','Kate']
scores = [15,12,9,18]
print(students[0:2])
print(scores)

['Mary', 'Tom']
[15, 12, 9, 18]

In [24]:
scores[0]
scores[-1]
scores[1:3]

[12, 9]

In [27]:
numbers = [10,20,30,40,50,60,70,80,90]

print(numbers[1])
print(numbers[-2])
print(numbers[0:3])
print(numbers[-3:])
print(numbers[4:6])

20
80
[10, 20, 30]
[70, 80, 90]
[50, 60]